build/
releases/
tests/temp/
tests/unit-tests/main.cpp
tests/unit-tests/ut_declarations.h
.pytest_cache
tests/validation-tests/__pycache__/
tests/validation-tests/*.pyc
clients/python/*.pyc
clients/python/__pycache__/
